@use '../variables' as var
@use '../mixins' as mix

#information
    background-color: var.$bg-color-secundary
    padding: .85rem
    margin-bottom: 1rem
    border-radius: var.$card-border-radius
    border: 1px solid var.$border-color
    width: 100%

    .info-card
        display: flex
        align-items: center
        gap: .75rem
        padding-bottom: .8rem
        margin-bottom: .8rem
        border-bottom: 1px solid var.$border-color
        width: 100%
        min-width: 0

        div
            min-width: 0

    h3
        color: var.$text-color-secundary
        font-size: 1rem
        margin-bottom: .5rem

    p
        color: var.$text-color
        font-size: .95rem
        overflow-wrap: break-word

    svg
        background-color: var.$bg-color
        padding: 0.4rem
        width: 2.25rem
        height: 2.25rem
        border-radius: var.$card-border-radius

    #phone-icon
        color: #e93b81

    #pin-icon
        color: #6ab5b9

    #email-icon
        color: #c17ceb

@media (max-width: 1220px)
    #information
        width: 100%

    .info-card
        display: flex
        text-align: left
