@use '../variables' as var
@use '../mixins' as mix

.social-networks
    @include mix.center
    width: 100%
    margin-bottom: 1rem
    gap: .75rem

    .social-btn-linkedin
        color: #0077b5
        @include mix.social-btn

    .social-btn-github
        color: #f6f6f6
        @include mix.social-btn

    .social-btn-instagram
        color: #e1306c
        @include mix.social-btn

    a:hover
        border-color: var.$accent-color
        background: var.$bg-color
        > svg
            color: var.$accent-color

    @media (max-width: 1280px)
        .social-btn-linkedin
            font-size: 1.45rem

        .social-btn-github
            font-size: 1.45rem

        .social-btn-instagram
            font-size: 1.45rem

    @media (max-width: 1000px)
        .social-btn-linkedin
            font-size: 1.35rem

        .social-btn-github
            font-size: 1.35rem

        .social-btn-instagram
            font-size: 1.35rem
