@use '../variables' as var
@use '../mixins' as mix

.technologies-container
    margin: 1rem 0

    .technologies-grid
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr))
        gap: 1rem

        .technology-card
            @include mix.center
            flex-direction: column
            gap: .75rem
            padding: 1rem
            min-height: 8.5rem
            background-color: var.$card-bg-color
            border: 1px solid var.$border-color
            border-radius: var.$card-border-radius

            h3
                color: var.$text-color
                font-size: .95rem
                text-align: center

            svg
                font-size: 3.4rem

        #html
            svg
                color: #E44D26
        #css
            svg
                color: #264de4
        #js
            svg
                color: #F7DF1E
        #react
            svg
                color: #61DAFB
        #node
            svg
                color: #68A063
        #mysql
            svg
                color: #00758F
        #docker
            svg
                color: #2496ED
        #python
            svg
                color: #4B8BBE

    @media screen and (max-width: 1280px)
        .technologies-grid
            .technology-card
                min-height: 7.5rem

                h3
                    font-size: .85rem

                svg
                    font-size: 3rem
    //         .technology-card
    //             width: 40%
    //             border: 1px solid #fff
